/* styles.css */
*{
  font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: darkgoldenrod;
    margin: 50px;
}

h1 {
    font-weight: 900 ;
    /* border-width: inherit;
    border-style: double;
    border-color: red; */
    outline-color: red;
    outline-style: groove;
    outline-width: thick;
    background-color: darkkhaki;
    padding: 10px;
}


li {
  font-weight: 700;
}


.main {
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    background-color: rgb(189, 151, 47);
    width: auto;
    max-width: 530px

  }

  .note {
    text-align:right;
    font-size: 12px;
  }

 .button.index {
  color: crimson;
  text-align: center;
  margin: auto; /* allinea oggetto al centro */
  background-color: black;
  width: 190px;
  border: 3px solid dodgerblue;
  padding: 2px;
}

div.gallery {
  margin: 10px;
  border: 5px solid gold;
  background-color:darkorange;
  padding: 7px;
  float: left;
  height: 270px;
  width: 180px;
}

div.gallery:hover {
  border: 5px solid rgb(255, 0, 0);
}

div.gallery img {
  width: 180px;
  height: auto;
  min-height: 200px;
  border: 1px solid black;
}

div.desc {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* V1 INDEX RECIPES GALLERY (DEPRECATED)

.index-recipe-img {
  height: 150px;
  width: 150px;
  border: 5px solid gold;
  background-color:darkorange;
  padding: 5px;
}

.index-recipe-links{
  color: crimson;
  font-weight: bolder;
  text-align: center;
  font-size:x-large;
}
.recipe-main-img {
  height: 500px ;
  width: 500px ;
  border: 5px solid gold;
  background-color:darkorange;
  padding: 5px;
}

*/

.steps {
  border: 5px solid gold;
  background-color:darkorange;
  padding: 10px;
}

ul {
  list-style-type:circle;
  margin: 0;
  padding: 0;
}